$color-background-dark: #1F243A;
$color-background-blue-dark: #304294;
$color-text-blue-sky: #42BBFF;
$color-text-white: #FFFFFF;
$color-rule-darken: #FFD466;
$color-dark: #000000;
$color-border: #FFF7B4;
